@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "root.css";
@import "variables.css";
/* reset css는 css에 대한 초기 설정값으로 정해진게 없으면 보통 하는 설정이라고 하면 되겠다. */

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

/* 보통 먼저 코드를 작성하고 그 이후에 코드를 파일별로 정리를 한다. */
